@import "vars";

.first-subscription {
    padding: 110px 0;
    position: relative;
    
    .large-text {
        font-size: 28px;
        font-family: $base-font;
        text-align: center;

    }

    .subscription-form {
        width: 477px;
        height: 96px;
        margin: 50px auto 0 auto;
        background-color: $subscription-form-bg-color;
    }

    .sep {
        width: 390px;
        height: 1px;

        display: inline-block;
        background-color: $sep-bg-color;
        margin: 10px auto 0 floor(((477px - 390px) / 2));
    }

    .text {
        position: relative;
        width: 310px;
        height: 30px;
        margin: 20px auto 0 auto;
    }

    .submit-btn {
        margin-right: 43px;
        margin-top: 28px;
    }
    input {
        float: left;
        height: 30px;
        background-color: transparent;
        border: none;
        margin-left: 43px;
        margin-top: 20px;
    }

    .paper-plane {
        background: url(../../img/blue-paper-plane.png) no-repeat;
        width: 13px;
        height: 13px;
        float: left;
        margin-right: 10px;
        margin-top: 3px;
    }

    button {
        background-color: transparent;
        border:none;
        font-size: 16px;
        font-family: $std-text-font;
        color: $link-text-color
    }

    .submit-btn {
        float: right;
    }

    .blurb {
        color: $md-grey-text-color;
        font-family: $std-text-font;
        font-size: 12px;
        text-align: center;

        float: left;
        margin-left: 20px;
    }

    .info-icon {
        background: url(../../img/attention-icon.png) no-repeat;
        width: 14px;
        height: 17px;
        display: inline-block;
        float: left;
        margin-top: 10px;
    }
}

.white-text {
    color: #fff;
}

.second-subscription {
    padding: 110px 0;
    position: relative;

    .section-title {
        font-size: 28px;
        font-family: $base-font;
        text-align: center;
        color: #fff;
        margin-bottom: 30px;
    }

    .input-bg {
        width: 454px;
        height: 51px;
        margin: 0 auto;
        border: 1px solid #282D36;
    }
    input {
        width: 323px;
        height: 48px;
        text-indent: 15px;
        background-color: transparent;
        border: 0;

        &::-webkit-input-placeholder {
            font-family:  $std-text-font;
            color: $md-grey-text-color;
            letter-spacing: 1px;
        }
    }

    .subscribe-btn {
        width: 129px;
        height: 51px;
        background-color: $subscribe-btn-bg-color;
        border: 0;
        float: right;
        color: #fff;
        font-family: $std-text-font;
        text-transform: uppercase;
    }

    .social-networks {
        width: 254px;
        height: 23px;
        margin: 20px auto 0 auto;
        font-family: $base-font;
        text-transform: capitalize;
        line-height: 30px;

        .text {
            color: #989898;
            float: left;
            margin-right: 20px;
            font-size: 14px;
        }

        .social-icon-list {
            list-style: none;
            float: left;
            margin: 0;
            padding: 0;

            li {
                display: inline-block;
                margin-right: 30px;
            }
            i {
                color: #373D45;
                line-height: 0;
                font-size: 14px;

                &:hover {
                    color: #989898;
                    transform: scale(1.1);
                }
            }
        }
    }
}


.subscription-three {
    padding: 110px 0;
    position: relative;

    .profile {
        width: 204px;
        margin: 0 auto;
        height: 26px;

        .info {
            .avatar {
                display: inline-block;
                max-width: 25px;

            }


        }

        img {
            display: inline-block;
            float: left;
            margin-right: 20px;
        }

        .user-name,
        .title {
            line-height: 0;
            padding: 0;
            position: relative;
            top: 5px;

        }

        .user-name {
            color: #fff;
            font-family: $std-text-font;
            text-transform: capitalize;
        }

        .title {
            font-family:  $std-text-font;
            font-style: italic;
            margin-left: 10px;
            color: #5A6068;
            margin-top: 10px;
        }
    }

    .blurb-bg {
        width: 562px;
        overflow: hidden;
        background-color: #12161F;

        margin: 30px auto;
        padding: 0 20px;

        .blurb {
            color: #fff;
            text-align: center;
            font-family: $base-font;
            font-size: 24px;
        }
    }

    form {
        width: 602px;
        height: 52px;
        margin: 0 auto;

        position: relative;

        .lg-subscribe-btn {
            width: 165px;
            height: 52px;
            background-color: #4DA1FF;
        }

        .email-address-input {
            float: left;

            input {
                width: 357px;
                height: 50px;
                background-color: transparent;

                border: 1px solid #282D36;
                text-indent: 15px;

                float: left;
            }

            .lg-subscribe-btn {
                position: absolute;
                right: 0;
                font-size: 14px;

                font-family: $std-text-font;
                font-weight: bold;
                color: #fff;
                text-transform: uppercase;

                text-align: center;
                line-height: 50px;

                border-radius: 6px;
            }
        }
    }
}